#posts
 - @posts.each do |post|
  .post
   %h2.title= link_to post.title, post
   %p
    %small
    Tags: #{raw post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ')}
    %p= link_to "Read Post", post_path(post)
    - if current_user == post.user
     %p= link_to "Edit", edit_post_path(post)
    %p.date
    Published at
    = time_ago_in_words(post.created_at)
    = post.user.email
