#post_content
  %h1= @post.title
  %p= @post.content
  %p
    %small 
      Tags: #{raw @post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ')}

  #comments
    %h2
      = @post.comments.count
      Comments
    = render @post.comments

    %h3 Reply to thread
    = render "comments/form"

  %br/
  %hr/
  %br/

  = link_to "Edit", edit_post_path(@post), class: 'btn btn-primary'
  = link_to "Delete", delete_post_path(@post), method: :get, data: { confirm: "Are you sure you want to do this?" }, class: 'btn btn-primary'
  - if @post.persisted?
    = link_to "Cancel", root_path, class: 'btn btn-secondary'
  - else
    = link_to "Cancel", root_path, class: 'btn btn-secondary'
